<!-- One -->
<section id="one">
	<header class="major">
		<h2>
			Bem-vindo à  Clinica Odonto! <br>
			Na Clinica Odonto, nossa missão é proporcionar a você e sua família um
			atendimento odontológico de excelência em um ambiente acolhedor e confortável.
			Com uma equipe de profissionais altamente qualificados e apaixonados pela
			odontologia, oferecemos uma ampla gama
			de serviços, desde os cuidados preventivos até procedimentos mais complexos.
		</h2>
	</header>
</section>
