<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<ul class="icons">
			<li>
				<a href="https://www.instagram.com/willian.r18/" class="icon brands fa-github"><span class="label">Instagram</span></a>
			</li>
			<li>
				<a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a>
			</li>
		</ul>
		<ul class="copyright">
			<li>&copy; Will</li>
			<li>Odontologia <a href="http://html5up.net">WhatsApp</a></li>
			<li>By <a href="https://astro.build">Clinica</a></li>
		</ul>
	</div>
</footer>
