---

---

<!-- Three -->
<section id="three">
	<h2>Entre em contato</h2>
	<p>
		Cada paciente recebe um plano de tratamento individualizado
		, considerando suas necessidades e expectativas.
	</p>
			</form>
			<ul class="actions">
				<li><input type="submit" value="Envie uma mensagem" /></li>
			</ul>
		</div>
		<div class="col-4 col-12-small">
			<ul class="labeled-icons">
				<li>
					<h3 class="icon solid fa-home">
						<span class="label">Endereço</span>
					</h3>
					Avenida marechal deodoro<br />
					CEP 9710010<br />
					São Bernardo do Campo
				</li>
				<li>
					<h3 class="icon solid fa-mobile-alt">
						<span class="label">Celular</span>
					</h3>
					+55 (11) 98148-2242
				</li>
				<li>
					<h3 class="icon solid fa-envelope">
						<span class="label"></span>
					</h3>
					<a href="https://w.app/UwYalE">WhatsApp</a>
				</li>
			</ul>
			<hr>
		</div>
	</div>
	
</section>
