---
import avatar from '../assets/avatar.jpg';
---

<!-- Header -->
<header id="header">
	<div class="inner">
		<a href="#" class="image avatar"><img src={avatar} alt="" /></a>
		<h1>
			<strong>Eu sou o Willian</strong>,Sou o Dr. Willian Rodrigues, dentista dedicado a transformar sorrisos e 
			melhorar a qualidade de vida dos meus pacientes. Ao longo da minha trajetória profissional, fui reconhecido
			por diversas publicações pelo cuidado e atenção com que trato cada caso, sempre buscando oferecer o mais alto 
			padrão de qualidade em odontologia.
			<br>
			
			 <br />
		</ul>
			
		</h1>
	</div>
</header>
