---
import avatar from '../assets/avatar.jpg';
---

<!-- Header -->
<header id="header">
	<div class="inner">
		<a href="#" class="image avatar"><img src={avatar} alt="" /></a>
		<h1>
			<strong>Eu sou o Willian</strong>, desevolvedor de Sistemas<br />
			Cursando Analise De Desevolvimento De Sistemas<br />
		</ul>
			
		</h1>
	</div>
</header>
